<!DOCTYPE html>
<html lang='en-ca'>
<head>
  <meta charset='utf-8'>
  <title>Nick and Mel Comics</title>
  <meta name="description" content="Comics about Nick and Mel's life!">
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="Nick & Mel Comics">
  <meta property="og:url" content="http://nickandmelcomics.com">
  <meta property="og:image" content="{{site.baseurl}}/images/nick-and-mel-portrait.gif">
  <meta property="og:site_name" content="Nick & Mel Comics">
  <meta property="og:description" content="Explore hand-drawn comics inspired by Nick & Mel's life.">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Nick and Mel Comics">
  <meta name="twitter:url" content="http://nickandmelcomics.com">
  <meta name="twitter:description" content="Explore hand-drawn comics inspired by Nick & Mel's life.">
  <!-- CSS -->
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/vat7xad.css">
</head>
<body>
  {{content}}

  <section class="wrapper">
    <div class="grid grid-middle pad-t pad-b">
      <div class="mobile-push unit xs-1 m-2-5 gutter">
        <p class="blue upper bold push-0 mega designed-by-text">Designed & Coded by Mel,<br> Inspired and Snacks by Nick</p>
      </div>

      <div class="mobile-push unit xs-1 m-2-5 gutter">
        <p class="blue push-0">Turning our weird, fun and very real everyday interactions into comics since 2020. Cause why not?</p>
      </div>

      <div class="mobile-push unit xs-1 m-1-5 gutter">
        <p class="blue bold push-0">Follow Nick & Mel Comics on <a class="link relative ib orange" href="https://www.instagram.com/nickandmelcomics/">Instagram</a>!</p>
      </div>
    </div>
  </section>
  
  <footer class="border-top border-btm relative">
    <div class="grid grid-middle">
      <div class="footer-date unit xs-1 m-1-5 gutter-2  pad-t-1-2 pad-b-1-2">
        <p class="push-0 blue milli">Updated November 2020</p>
      </div>
      <div class="footer-instagram unit xs-1 m-3-5 text-center gutter-2 pad-t-1-2 pad-b-1-2">
        <p class="push-0 blue bold">To see more of Mel’s design work, visit her portfolio website <a class="link relative ib orange" href="http://melanypv.ca/">www.melanypv.ca</a></p>
      </div>
      <div class="unit xs-1 m-1-5 text-right">
      </div>
    </div>
    <div class="page-number ib absolute pin-center-right ">
      <p class="push-0 upper white pad-t-1-2 bold small gutter-1-4">Home</p>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>

</body>
</html>